@page "/"

@implements IDisposable

@inject ILogger<Index> Logger

<head>
    <link href="/css/index.css" rel="stylesheet" />
</head>

<div class="clock">Время сервера @now</div>
<h1>Добро пожаловать в интернет магазин "Затейливый программист"</h1>


@code {
    private DateTime now = DateTime.Now;
    private bool _disposed;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Task.Run(async () =>
    {
        while (!_disposed)
        {
            await Task.Delay(1000);
            now = DateTime.Now;
            Logger.LogInformation(now.ToString());
            await InvokeAsync(() => StateHasChanged());
        }

    });

    }

    public void Dispose() 
    {
        _disposed = true;

    }
}
