@page "/"

<head>
    <link href="/css/index.css" rel="stylesheet" />
</head>

<div class="clock">Время сервера @now</div>
<h1>Добро пожаловать в интернет магазин "Затейливый программист"</h1>


@code {
    DateTime now = DateTime.Now;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Task.Run(async () =>
    {
        while (true)
        {

            await Task.Delay(1000);
            now = DateTime.Now;
            InvokeAsync(() => StateHasChanged());
        }

        });
      
    }
        
    }
